/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        SCL {
            bindings = <&kp LA(LC(LEFT_SHIFT))>;
            key-positions = <62 47>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------------------------------------------------
            // | ESC   |  1  |  2  |   3   |  4  |  5  |                   ---                |  6    |  7    |  8    |  9   | 0  |    BSPC   |
            // | TAB   |  Q  |  W  |   E   |  R  |  T  |   (   |           ---        |  )    |  Y    |  U    |  I    |  O   | P  |     -     |
            // | CTRL  |  A  |  S  |   D   |  F  |  G  |   [   |           ---        |  ]    |  H    |  J    |  K    |  L   | ;  |     '     |
            // | SHIFT |  Z  |  X  |   C   |  V  |  B  | PG_UP | PG_DOWN | --- | HOME | END   |  N    |  M    |  ,    |  .   | /  | SHFT(RET) |
            // | CRTL  | ALT | GUI | LOWER |    GUI    | LOWER | SPACE   | --- | DEL  | SPACE |     RAISE     | LEFT  | DOWN | UP |   RIGHT   |

            bindings = <
&kp ESC     &kp N1    &kp N2            &kp N3             &kp N4  &kp N5                                                                          &kp N6  &kp N7  &kp N8     &kp N9          &kp N0          &kp NON_US_BACKSLASH
&kp TAB     &kp Q     &kp W             &kp E              &kp R   &kp T   &kp GRAVE                                          &kp MINUS            &kp Y   &kp U   &kp I      &kp O           &kp P           &kp BACKSPACE
&kp DELETE  &kp A     &kp S             &kp D              &kp F   &kp G   &kp KP_ENTER                                       &kp EQUAL            &kp H   &kp J   &kp K      &kp L           &kp SEMI        &kp ENTER
&kp LSHFT   &kp Z     &kp X             &kp C              &kp V   &kp B   &kp LEFT_SHIFT  &kp LEFT_ALT        &kp RIGHT_GUI  &kp LC(RIGHT_SHIFT)  &kp N   &kp M   &kp COMMA  &kp DOT         &kp UP_ARROW    &kp RSHFT
&kp LCTRL   &kp LALT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &mo 1           &kp SPACE       &kp LEFT_CONTROL    &kp SQT        &kp RIGHT_ALT                &mo 1   &kp SLASH  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&trans        &kp F1         &kp F2          &kp F3              &kp F4           &kp F5                                                                     &kp F6         &kp F7    &kp F8          &kp F9     &kp F10      &kp C_PLAY_PAUSE
&kp CAPSLOCK  &kp F6         &kp F7          &kp F8              &kp F9           &kp F10              &kp PAUSE_BREAK                         &kp KP_MINUS  &trans         &trans    &trans          &trans     &trans       &kp C_MUTE
&kp F11       &kp PAGE_UP    &kp LEFT_ARROW  &kp UP_ARROW        &kp RIGHT_ARROW  &kp PRINTSCREEN      &to 2                                   &kp KP_PLUS   &kp PG_UP      &kp LEFT  &kp UP_ARROW    &kp RIGHT  &trans       &kp C_VOLUME_UP
&kp F12       &kp PAGE_DOWN  &kp HOME        &kp DOWN_ARROW      &kp END          &kp LA(PRINTSCREEN)  &trans           &trans    &bootloader  &trans        &kp PAGE_DOWN  &kp HOME  &kp DOWN_ARROW  &kp END    &kp PAGE_UP  &kp C_VOLUME_DOWN
&trans        &trans         &kp LEFT_GUI    &kp K_CONTEXT_MENU  &trans                                &trans           &trans    &trans       &kp RCTRL                    &trans    &trans          &kp HOME   &kp PG_DN    &kp END
            >;
        };

        layer_2 {
            bindings = <
&trans     &trans          &trans  &trans  &trans  &trans                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp TAB         &kp Q   &kp X   &kp E   &kp R   &trans                    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp PG_UP  &kp LEFT_SHIFT  &kp A   &kp W   &kp D   &kp F   &kp T                     &to 0   &trans  &trans  &trans  &trans  &trans  &to 0
&kp PG_DN  &kp LEFT_SHIFT  &kp Z   &kp S   &kp C   &kp V   &kp G   &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp P      &kp LCTRL       &trans  &trans  &kp B           &trans  &trans    &trans  &trans          &to 0   &trans  &trans  &trans  &trans
            >;
        };
    };
};
